<template>
	<div class="overlay" v-if="loading">
		<div class="icon la-ball-fussion la-2x">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<nav-bar></nav-bar>
	<alert :notifications="notifications"></alert>	
	<main class="kulo__container">
		<router-view></router-view>	
	</main>	
</template>

<script>
	import NavBar from './shared/NavBar.vue';
	import Alert from './shared/Alert.vue';
	import userStub from './../stubs/user';
	import _ from 'lodash';
	export default {
		replace: false,
		components: {
			NavBar,
			Alert
		},
		data () {
			return {
				notifications: [],
				loading : false,
				authenticated: false,
				user: this.state.user.current,
				now: Date.now(),
			}
		},
		watch: {
			authenticated (val, oldVal) {
				if (val) {
					this.$nextTick(function() {
					    $('.collapsible').collapsible({
					      accordion : true 
					    });				
						$('.dropdown-button').dropdown();
					})
				}
			}
		},
		methods: {
			init () {

				this.$http.get('data').then((result) => {
					this.$action('tag:set', {current: result.data.tags.current});           
				}, (errors) => {
					this.handleError(errors);
				})
			},
			setLogin (data) {
				// Save login info in our data and set header in case it's not set already
				this.user = data.user
				this.authenticated = true
				this.loading = false

				this.$action('user:set', {token: data.token, current: data.user});                
				this.$action('tag:set', {current: data.tags});                

				let messages = [{'message': 'Selamat datang kembali '+ this.user.name, 'status': 'success'}];

				if (this.user.activation_code != '') {
					messages.push({'message': 'Silahkan konfirmasi email terlebih dahulu', 'status': 'error'});
				}

				this.$root.$set('notifications', messages);

                this.$route.router.go('/user/'+ this.user.email)
			},

			destroyLogin () {
				// Cleanup when token was invalid our user has logged out
				this.user = userStub
				this.authenticated = false

				this.$action('services:destroy_local_storage');
				this.$action('user:resetCurrentUser');

				this.$root.$set('notifications', []);

				if (this.$route.auth) this.$route.router.go('/login')

			},
			handleSuccess (result) {
				this.$root.notifications.push({
					'message': result.message, 
					'status': 'success',
					'time': Date.now()
				});
	            this.$root.loading = false;
                document.body.scrollTop = 0;
			},
			handleError (errors) {
				if (errors.status === 500) {
					console.log(errors.status + ': Ada apa ini!!!')
					return false;
				}
				
				let me = this;
                _.forEach(errors.data, function(value, key) {    
                    if (Array.isArray(value)) {
                        _.forEach(value, function(value2, key2) {                            
                            me.$root.notifications.push({'message': value2, 'status': 'error'});
                        });
                    } else {
                        me.$root.notifications.push({'message': value, 'status': 'error'});
                    }   
                    if (value == 'token_expired' || value == 'token_not_provided') {
                    	me.destroyLogin();
                    }               
                });
                this.loading = false;			
                document.body.scrollTop = 0;	
			}
		},
		ready() {

            /*
            * Set now interval for time ago
            */
			setInterval(() => {
				this.$root.now = Date.now()
			}, 1000)


			/*
			* Check if token exists, token setting from localStorage on stores/service.js
			* Bootstrap from {created} method
			*/
			if (this.state.user.token) {
				this.authenticated = true
				this.user = this.state.user.current
			}

			/*
			* Init all data for app
			*/
			this.init();
		},
	    created(){
	    	/*
			* Init user data and token if exists 
	    	*/
	    	this.$action('services:initial_state')
	    }
	}	
</script>