.alert {
	width: 100%;
	height: auto;
	text-align: center;
	color:white;
	font-size: 16px;
 	> .alert {
		&-error {
			background-color:red;
		}
		&-success {
			background-color:#159F84;
		}
	}
	div {
		> i {
			cursor: pointer
		}
		padding: 15px 10px 15px 10px;		
	}
}