.part {
	display: inline-block;
	text-align: center;
	font-size: 10px;
	margin-right: 10px;	
	width: 50px;
	.mini-count {
		font-size: 14px;
	}
}

.summary {
    width: calc(100% - 200px);
	.title {
		font-size: 15px;
	}
	display: inline-block;
}
.chip {
	font-size: 10px;
	padding: 0 5px;
	height: auto;
	line-height: 2;
	font-weight: 300;
	border-radius: 0;
	background-color: rgb(21, 159, 132);
	color: white;
	.material-icons {
		padding-top: 2px;
		line-height: normal !important;
	}
}