
	.cropit-preview {
	  /* You can specify preview size in CSS */
	  width: 250px;
	  height: 250px;
	}
	.my__profile {
		margin-top: 20px;		
		.remove__padding {
		    margin: 10px -10px 0 -10px;
		}
		&--image {
		    span {
			    padding: 10px !important;
			    border: 1px solid #ddd;
			    display:inline-block;
			    img {
			    	vertical-align: middle;
			    }
		    }
		}
		.current__position {
			font-size: 24px;
		    color: #777777;
		    line-height: 20px;
		    margin-bottom: 14px;			
		}
		.about__me {
			font-size: 18px;
		}
		.user-stats{
			.number {
				display: block
			}
		}
		i.left {		    
		    margin-right: 0;
		}
	}