.select2-container--default {
	.select2-results__option--highlighted[aria-selected] {
	    background-color: $primary-color !important;
	}

	.select2-selection--multiple {
		border-radius: 0;		
		.select2-selection__choice {
		    background-color: $primary-color !important;
			border: none;
			color:white;
			.select2-selection__choice__remove {
				color: inherit;
			}
		}
	}
}
.select2-dropdown {
	border-radius: 0;
}