<template>
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a href="#" v-link="{path: '/admin', exact: true}">Dashboard</a></li>
				<li class="tab col s3"><a href="#" v-link="{path: '/admin/post'}">Post</a></li>
				<li class="tab col s3"><a href="#" v-link="{path: '/admin/tag'}">Tag</a></li>
				<li class="tab col s3"><a href="#" v-link="{path: '/admin/user'}">User</a></li>
			</ul>
		</div>
		<div class="col s12">
			<router-view></router-view>
		</div>
	</div>

</template>

<script>
	export default {
		ready () {
			this.$nextTick(function(){
			    $('ul.tabs').tabs();	    
			});		
		}
	}
</script>