<template>
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light teal-background modal-trigger" href="#modal__tag">
	      <i class="large material-icons">add</i>
	    </a>
    </div>
	<table class="responsive-table">
		<thead>
			<tr>
				<th data-field="id">Id</th>
				<th data-field="nama">Nama</th>
				<th data-field="deskripsi">Deskripsi</th>
				<th data-field="tanggal">Tanggal</th>
				<th data-field="aksi">Aksi</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="tag in tags">
				<td>			
	                {{tag.id}}
	            </td>
				<td>			
	                {{tag.name}}
	            </td>
				<td>
	                {{tag.description}}
				</td>
				<td>{{tag.created_at}}</td>
				<td>				
		        	<a href="#" @click="edit($index, tag)"><i class="material-icons">edit</i></a>
		        	<a href="#" @click="destroy(tag)"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="modal" id="modal__tag">
		<form @submit.prevent="save">
	    <div class="modal-content">
	        <h4>
	            Tag
	        </h4>
	        <div class="row">
                <div class="input-field col s12">
                    <input class="validate" type="text" v-model="tag.name" required>
                        <label>
                            Name
                        </label>
                    </input>
                </div>
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" v-model="tag.description" required></textarea>
                    <label>
                        Description
                    </label>
                </div>
	        </div>
	    </div>
	    <div class="modal-footer">
	        <button class="modal-action modal-close waves-effect waves-green btn-flat">
	            Save
	        </button>
	        <a class="modal-action modal-close waves-effect waves-green btn-flat">
	            Close
	        </a>
	    </div>
	    </form>
	</div>		
</template>
<script>
	export default {
		data () {
			return {
				tag: {
					name: null,
					description: null
				},
				tags: []
			}
		},
		methods : {
			save () {
                this.$root.loading = true;
                if (this.tag.id) {
	                this.$http.put('tag/'+this.tag.id, this.tag).then( (result) => {                	
	                    let currentTag = result.data.tag;
	                    this.tags.$set(this.tag.index, currentTag);
	                    this.$root.handleSuccess(result.data)
	                }, (errors) => {    
	                    this.$root.handleError(errors)
	                })
                } else {
	                this.$http.post('tag', this.tag).then( (result) => {      
	                    this.tags.push(result.data.tag);
	                    this.$root.handleSuccess(result.data)
	                }, (errors) => {    
	                    this.$root.handleError(errors)
	                })
                }
			},
			edit (index, tag) {
				this.tag.name = tag.name;
				this.tag.description = tag.description;
				this.tag.id = tag.id;
				this.tag.index = index;
				$('label').addClass('active');
				$('.modal-trigger').click();
			},
			destroy (tag) {
				if (!confirm('Yakin mau diapus ?'))	return;
                this.$root.loading = true;
				this.$http.delete('tag/'+tag.id).then((result)=>{
					this.tags.$remove(tag);
                    this.$root.handleSuccess(result.data)
				}, (errors) => {
					this.$root.handleError(errors);
				});
			},
			fetchData () {
	            if (this.state.tag.all.length != 0) {
	                this.$set('tags', this.state.tag.all);
	                return false;
	            }

				this.$http.get('tag').then((result)=>{
					this.$set('tags', result.data.tags);
	                this.$action('tag:set', {'all': result.data.tags});
				}, (errors) => {
					this.$root.handleError(errors);
				});
			}
		},
		ready () {
			let me = this
			this.fetchData();	
			this.$nextTick(function(){						
			    $('.modal-trigger').leanModal({
			    	complete: function() { 
			    		me.tag = {
			    			name: null,
			    			description: null
			    		};
						$('label').removeClass('active');
			    	},
			    });					
			});
		}
	}
</script>