<template>

	<table class="responsive-table">
		<thead>
			<tr>
				<th data-field="id">Id</th>
				<th data-field="nama">Nama</th>
				<th data-field="email">E-Mail</th>
				<th data-field="is_admin">Admin?</th>
				<th data-field="tanggal">Tanggal</th>
				<th data-field="aksi">Aksi</th>
			</tr>
		</thead>

		<tbody>
			<tr v-for="user in users">
				<td>			
	                {{user.id}}
	            </td>
				<td>			
	                {{user.name}}
	            </td>
				<td>
	                {{user.email}}
				</td>
				<td>
	                {{user.is_admin ? 'Ya' : 'Tidak'}}
				</td>
				<td>{{user.created_at}}</td>
				<td>				
		        	<a href="#" @click="edit($index, user)"><i class="material-icons">edit</i></a>
		        	<a href="#" @click="destroy(user)"><i class="material-icons">delete</i></a>
				</td>
			</tr>
		</tbody>
	</table>

</template>

<script>
	export default {
		data () {
			return {
				users: []
			}
		},
		methods: {
			fetchData () {
	            if (this.state.user.all.length != 0) {
	                this.$set('users', this.state.user.all);
	                return false;
	            }

				this.$http.get('user').then((result)=>{
					this.$set('users', result.data.users);
	                this.$action('user:set', {'all': result.data.users});
				}, (errors) => {
					this.$root.handleError(errors);
				});
			}
		},
		ready () {
			this.fetchData()
		}
	}
</script>