<template>
	<div class="alert" v-for="notification in notifications" v-time-out="notification">
		<div :class="['alert-' + notification.status]">
			<content>
				{{ notification.message }}
			</content>
			<i class="material-icons right" @click="remove(notification)">close</i>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['notifications'],
		directives: {			
			timeOut (notification) {
				let that = this.vm
				setTimeout(() => {
					that.remove(notification)
				}, 5000) 
			}
		},
		methods: {
			remove (notification) {
				this.notifications.$remove(notification);
			}
		}
	}
</script>