<template>
	<nav role="navigation">
	    <div class="nav-wrapper kulo__container">
	    	<a id="logo-container" href="#" v-link="{path:'/',  exact: true}" class="brand-logo">
	    		<span class="logo-kulo">Kulo</span><span class="logo-lab">Stack</span>
	    	</a>
			<ul class="right hide-on-med-and-down">
				<li v-link-active><a href="#" v-link="{path:'/',  exact: true}">Beranda</a></li>
				<!-- <li v-link-active><a href="#" v-link="{path:'/contact'}">Kontak</a></li>
				<li v-link-active><a href="#" v-link="{path:'/about'}">Tentang</a></li> -->
				<li v-link-active v-if="$root.user.is_admin"><a href="#" v-link="{path:'/admin'}">Admin</a></li>
				<li v-link-active v-if="!$root.authenticated"><a href="#" v-link="{path:'/login'}">Masuk</a></li>				
				<li v-if="$root.authenticated">
					<a class="dropdown-button" data-activates="d-navbar-user">{{ $root.user.name }}</a>
				</li>
				<ul id='d-navbar-user' class='dropdown-content'>
					<li><a v-link="{path: '/user/'+$root.user.email}">Profil</a></li>
					<li><a href="#" v-link="{path: '/logout'}">Keluar</a></li>
				</ul>
			</ul>
		    <ul id="nav-mobile" class="side-nav">
				<li v-link-active><a href="#" v-link="{path:'/',  exact: true}">Beranda</a></li>
				<!-- <li v-link-active><a href="#" v-link="{path:'/contact'}">Kontak</a></li>
				<li v-link-active><a href="#" v-link="{path:'/about'}">Tentang</a></li>	 -->
				<li v-link-active v-if="$root.user.is_admin"><a href="#" v-link="{path:'/admin'}">Admin</a></li>
				<li v-link-active  v-if="!$root.authenticated"><a href="#" v-link="{path:'/login'}">Masuk</a></li>
				<li class="no-padding" v-if="$root.authenticated">
					<ul class="collapsible collapsible-accordion">
						<li>
							<a class="collapsible-header">{{ $root.user.name }}<i class="mdi-navigation-arrow-drop-down"></i></a>
							<div class="collapsible-body">
								<ul>
									<li><a v-link="{path: '/user/'+$root.user.email}">Profil</a></li>
									<li><a href="#" v-link="{path: '/logout'}">Keluar</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>				
		    </ul>
		    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	    </div>
	</nav>
</template>
<script>
	export default {
		ready () {
			this.$nextTick(function(){
				$(".button-collapse").sideNav({
					closeOnClick: true 
				});
			    $('.collapsible').collapsible({
			      accordion : true 
			    });				
			});
		}
	}
</script>