<template>
	<div class="fixed-action-btn"  v-if="$root.authenticated">
		<a class="btn-floating btn-large waves-effect waves-light teal-background modal-trigger" href="#modal__tag">
	      <i class="large material-icons">add</i>
	    </a>
    </div>
	<div class="row">
		<div class="col m8 s12">

			<div class="collection">
				<div class="collection-item">
					<div class="part">
						<span class="mini-count">9</span> <br>	
						<span class="type">Votes</span>
					</div>
					<div class="part">
						<span class="mini-count">9</span> <br>	
						<span class="type">Answers</span>
					</div>
					<div class="part">
						<span class="mini-count">9</span> <br>	
						<span class="type">Views</span>
					</div>
					<div class="summary">
						<div class="title"><a href="/test.d">test</a></div>
						<div class="detail">
							<div class="chip"> Javascript </div> 
							<div class="chip"> PHP </div> 
							<div class="chip"> Vue.js </div> 
							<div class="chip"> Node.js </div> 
							<div class="chip"> Laravel </div> 
							<div class="update right">
								<small>
									<a href="tes">kunyuk</a> menjawab <span class="time">2 menit yang lalu</span>
								</small>
							</div>
						</div> 
					</div>
				</div>
				<div class="collection-item">
					test
				</div>
				<div class="collection-item">
					test
				</div>
			</div>


		</div>
		<div class="col m4 s12" v-if="$root.authenticated">
			<div class="my__tag detail">
				<a class="right" href="#" @click.prevent="editTags = !editTags"><i class="material-icons">{{ editTags ? 'close' : 'edit' }}</i></a>
				<h5>Label yang disukai</h5>
				<div class="my__tag--list" v-if="!editTags">
					<div class="chip m-r-5" v-for="tag in state.tag.current"> {{ tag.name }} </div> 
				</div>
				<div class="my__tag--edit-list" v-else>
					<div class="row">
						<div class="col s12">
							<div class="m-b-10">
								<div class="chip m-r-5" v-for="tag in state.tag.current"> {{ tag.name }} <i class="material-icons cursor-pointer" @click="destroyTag(tag)">cancel</i></div> 
							</div>
							<form @submit.prevent="saveTags" class="center">
								<select style="width:100%" v-select="newTags" per_page=10 caption="Label" uri="tag"></select>
								<button class="btn m-t-10"><i class="material-icons">add</i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data () {
			return {
				editTags: false,
				newTags: [],
			}
		},
		methods: {
	        /*
	        * Handle add tag action
	        */
	        saveTags() {
	        	if (this.newTags == null) {
	        		this.$root.handleError({'data' : ['Pilih tag dulu.']})
	        		return false
	        	}

	            let data = { 'tags': this.newTags }
	            let self = this
	            this.$http.post('tag/user', data).then((result) => {
	                this.$action('tag:pushMany', {current: result.data.tags})
	                this.newTags = []
	                this.$root.handleSuccess(result.data)
	            }, (errors) => {                    
	                this.$root.handleError(errors)
	            })            
	        },

	        /*
	        * Delete tag user
	        */        
	        destroyTag(tag) {
	            this.$action('tag:removeMany', {current: [tag]})
	            this.$http.delete('tag/user/'+tag.id).then((result)=>{	           
	                this.$root.handleSuccess(result.data)
	            }, (errors) => {
	                this.$root.handleError(errors)
	            })
	        },

		},
	}
</script>