.teal-text {
    color: $primary-color !important;
}

.teal-background {
    background-color: $primary-color !important;
}

a {
    color: $primary-color;
}

span {
    &.logo-kulo {
        padding: 0 10px 0 10px;
    }
    &.logo-lab {
        height: 100%;
        padding: 0 10px 0 10px;
        background-color: white;
        color: $primary-color;
    }
}

nav {
    font-family: 'Lato';
}

.input-field .prefix {
    line-height: 2;
}

a.page-title {
    font-size: 25px;
}

div.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #159F84;
    position: fixed;
    z-index: 1005;
    > .icon {
        color: white;
        display: inline-block;
        left: 50%;
        top: 50%;
        position: absolute;
    }
}
@media only screen and (min-width: 601px) {
  .kulo__container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .kulo__container {
    width: 70%;
  }
}

.kulo__container {
  margin: 0 auto;
  max-width: 1280px;
  width: 99%;
}

.collection.with-header .collection-item {
    padding-left: 20px;
}

.select2-search__field {
    margin: 0 !important;
    margin-top: 5px !important;
    height: inherit !important;
    border-bottom: none !important; 
    box-shadow: none !important; 
    min-width: 100px !important;
}


.cursor-pointer {
    cursor: pointer;
}



.m-b-10 {
    margin-bottom: 10px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-r-5 {
    margin-right: 5px;
}