// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

// transition 
@mixin transition($prop, $length, $timing) {	
    -webkit-transition: $prop $length $timing;
    -moz-transition: $prop $length $timing;
    -ms-transition: $prop $length $timing;
    -o-transition: $prop $length $timing;
    transition: $prop $length $timing;    
}

// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin border_default ($position) {
    border-#{$position}: 1px solid;
    border-color: #ddd;
}