<template>



	<profile></profile>

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a href="#" v-link="{path: '/user/'+$route.params.id,  exact: true}">Sekilas</a></li>
				<li class="tab col s3"><a href="#" v-link="{path: '/user/'+$route.params.id+'/answer'}">Jawaban</a></li>
				<li class="tab col s3"><a href="#" v-link="{path: '/user/'+$route.params.id+'/question'}">Pertanyaan</a></li>
				<li class="tab col s3"><a href="#" v-link="{path: '/user/'+$route.params.id+'/tag'}">Label</a></li>
			</ul>
		</div>
		<div class="col s12">
			<router-view></router-view>
		</div>
	</div>

</template>

<script>
	import Profile from './Profile.vue';
	export default {
		data () {
			return {
				id: 0
			}
		},
		ready() {
			this.$nextTick(function(){
			    $('ul.tabs').tabs();	    
			});					
		},
		components: {
			Profile
		}
	}
</script>