<template>
    <div class="my__profile row" v-if="editMode">
        <div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large teal-background">
                <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating red" @click="editMode = !editMode">
                        <i class="material-icons">
                            cancel
                        </i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating teal-background" @click="save">
                        <i class="material-icons">
                            save
                        </i>
                    </a>
                </li>
            </ul>
        </div>        
        <h3>
            Sunting profil
        </h3>
        <hr>            <!-- This wraps the whole cropper -->
            <div class="row">
                <div class="my__profile--image col m3 s12" id="image-cropper">
                    <!-- This is where the preview image is displayed -->
                    <center>
                        <div class="cropit-preview"></div>
                    </center>
                    <!-- This range input controls zoom -->
                    <!-- You can add additional elements here, e.g. the image icons -->
                    <input class="cropit-image-zoom-input" type="range"/>
                    <!-- This is where user selects new image -->
                    <input accept="image" class="cropit-image-input" type="file"/>
                    <!-- The cropit- classes above are needed
				so cropit can identify these elements -->
                </div>
                <div class="col m9 s12">
                    <div class="row remove__padding">
                        <div class="input-field col m6 s12">
                            <input class="validate" type="text" v-model="user.name">
                            <label>
                                Nama
                            </label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input class="validate" type="text" v-model="user.location">
                            <label>
                                Lokasi
                            </label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input class="validate" type="text" v-model="user.website">
                            <label>
                                Website
                            </label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input class="validate" type="text" v-model="user.github">
                            <label>
                                Github
                            </label>
                        </div>
                        <div class="input-field col m4 s12">
                            <input class="validate" type="text" v-model="user.twitter">
                            <label>
                                Twitter
                            </label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input class="validate" type="text" v-model="user.position">
                            <label>
                                Bekerja sebagai
                            </label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input class="validate" type="text" v-model="user.office">
                            <label>
                                Di Perusahaan
                            </label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input class="validate" type="password" v-model="user.password">
                            <label>
                                Kata Sandi
                            </label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input class="validate" type="password" v-model="user.password_confirmation">
                            <label>
                                Konfirmasi Kata Sandi
                            </label>
                        </div>
                        <label class="materialize-red-text">*) Isi inputan kata sandi hanya jika ingin merubahnya</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea class="materialize-textarea" v-model="user.about" id="userAbout"></textarea>
                    <label>
                        Tantang saya
                    </label>
                </div>
                <div class="col s12">
                    <label>
                        Pratinjau
                    </label>
                    <div v-html="user.about | marked">
                    </div>
                </div>
            </div>
        </hr>
    </div>
    <div class="my__profile row" v-else="">
        <div class="fixed-action-btn">
            <a @click="editMode = !editMode" class="btn-floating btn-large waves-effect waves-light teal-background">
                <i class="material-icons">
                    edit
                </i>
            </a>
        </div>

        <div class="my__profile--image center col m3 s12">
            <span>
                <img class="responsive-img" v-bind="{src : '/image/user/'+state.user.current.photo}">
            </span>
        </div>
        <div class="col m6 s12">
            <h4>
                {{state.user.current.name}}
            </h4>
            <div class="current__position">
                {{state.user.current.position ? state.user.current.position + ' @ ' +state.user.current.office : 'Tidak ada keterangan.'}}
            </div>
            <div class="about__me" v-html="state.user.current.about | marked"></div>
        </div>
        <div class="col m3 s12">
            <div>
                <div class="user-stats row">
                    <div class="col s6 ">
                        <span class="number">
                            1
                        </span>
                        Jawaban
                    </div>
                    <div class="col s6 ">
                        <span class="number">
                            1
                        </span>
                        Pertanyaan
                    </div>
                </div>
                <div class="user-links">
                    <ul class="collection with-header">
                        <li class="collection-item">
                            <i class="material-icons left">
                                location_on
                            </i>
                            <span class="label">
                                {{state.user.current.location?state.user.current.location:'-'}}
                            </span>
                        </li>
                        <li class="collection-item">
                            <img alt="" src="/public/images/github.png" width="24">
                                <span class="label">
                                    {{state.user.current.github?state.user.current.github:'-'}}
                                </span>
                            </img>
                        </li>
                        <li class="collection-item">
                            <img alt="" src="/public/images/twitter.png" width="24">
                                <span class="label">
                                    &nbsp;{{state.user.current.twitter?state.user.current.twitter:'-'}}
                                </span>
                            </img>
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">
                                access_time
                            </i>
                            <span class="label">
                                &nbsp;Bergabung sejak {{joined_at}}
                            </span>
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left">
                                remove_red_eye
                            </i>
                            <span class="label">
                                &nbsp;2 kali profil dilihat
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import marked from 'marked'
	import highlightjs from 'highlight.js'
	export default {
		data () {
			return {
				editMode: false,
				user: this.$root.user,
	            markedOptions: {
	                highlight: function (code, language) {
						// Check whether the given language is valid for highlight.js.
						const validLang = !!(language && highlightjs.getLanguage(language));
						// Highlight only if the language is valid.
						const highlighted = validLang ? highlightjs.highlight(language, code).value : code;						  
	                    return `<pre><code class="hljs ${language}">${highlighted}</code></pre>`
	                }
	            }
			}
		},
		filters: {

            /*
            * Marked content if not null
            */
			marked (value) {
				if ( ! value ) return null;
				return marked(value);
			}	
		},
		computed: {

            /*
            * Realtime change created_at
            */
		    joined_at: function() {
		    	let now = this.$root.now
		        return moment(this.state.user.current.created_at).fromNow();
		    }
		},
        watch: {

            /*
            * Watching on editMode come true, update some element
            */
            editMode (value) {
                if (value == 1) {
                    $('#image-cropper').cropit({
                        imageState: {
                            src: '/image/user/'+this.user.photo
                        }
                    })                       
                    Materialize.updateTextFields();         
                    $('textarea#userAbout').trigger('autoresize');        
                };
            }
        },
        methods: {

            /*
            * Handle save user profile
            */
            save () {
                this.user.binaryPhoto = $('#image-cropper').cropit('export')
                this.$http.put('user/'+this.user.id, this.user).then((result) => {
                    this.$action('user:set', {current: result.data.user})
                    this.editMode = false                    
                    this.$root.handleSuccess(result.data)
                }, (errors) => {                    
                    this.$root.handleError(errors)
                });
            }
        },
		ready() {

            /*
            * Initialize external plugin     
            */
			this.$nextTick(function () {
				$('#image-cropper').cropit({
                    imageState: {
                        src: '/image/user/'+this.user.photo
                    }
                })
                $('textarea#userAbout').trigger('autoresize');
			})

		},
		created () {

            /*
            * Initialize marked.js Options   
            */
			marked.setOptions(this.markedOptions);
		}
	}
</script>