<template>

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light teal-background modal-trigger" href="#modal__tag">
	      <i class="large material-icons">add</i>
	    </a>
    </div>
	<h5>List label yang kamu minati</h5>
    
    <div class="row">
        <div class="col s12 m3 l4" v-for="tag in tags">
            <ul class="collection with-header">
                <li class="collection-header">
                    <a @click="destroy(tag)" class="right"><i class="material-icons">delete</i></a>
                    <h4>{{tag.name}}</h4>
                </li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
                <li class="collection-item">Alvin</li>
            </ul>
        </div>        
    </div>


  	<!-- Modal Structure -->
	<div class="modal" id="modal__tag">
		<form @submit.prevent="save">
	    <div class="modal-content">
	        <h4>
	            Label
	        </h4>
	        <div class="row">
                <div class="input-field col s12">
                    <select v-select style="width:100%" required></select>
                </div>
	        </div>
	    </div>
	    <div class="modal-footer">
	        <button class="modal-action modal-close waves-effect waves-green btn-flat">
	            Save
	        </button>
	        <a class="modal-action modal-close waves-effect waves-green btn-flat">
	            Close
	        </a>
	    </div>
	    </form>
	</div>			
</template>


<script>

import 'select2/dist/js/i18n/id.js';

import _ from 'lodash';
export default {
    
    data () {
        return {
            tags: [],
            newTags: [],
        }
    },
    methods: {
        
        /*
        * Handle add tag action
        */
        save() {
            this.$root.loading = true;
            let data = { 'tags': this.newTags }
            let self = this;
            this.$http.post('tag/user', data).then((result) => {
                _.forEach(result.data.tags, function(tag) {
                    self.tags.push(tag);
                });
                this.newTags = []
                this.$root.handleSuccess(result.data);
            }, (errors) => {                    
                this.$root.handleError(errors)
            });            
        },

        /*
        * Delete tag user
        */        
        destroy (tag) {
            if (!confirm('Yakin mau diapus ?')) return;
            this.$root.loading = true;
            this.$http.delete('tag/user/'+tag.id).then((result)=>{
                this.tags.$remove(tag);
                this.$root.handleSuccess(result.data)
            }, (errors) => {
                this.$root.handleError(errors);
            });
        },

        /*
        * Get tag by user
        */        
        fetchData () {
            if (this.state.tag.current.length != 0) {
                this.$set('tags', this.state.tag.current);
                return false;
            }

            this.$http.get('tag/user').then((result)=>{
                this.$set('tags', result.data.tags);
                this.$action('tag:set', {'current': result.data.tags});
            }, (errors) => {
                this.$root.handleError(errors);
            });
        },

        /*
        * Handle external plugin for use on vue
        */
        init() {

            /*
            * Redefined this => that
            */
            let that = this


            /*
            * Initialize data from database
            */
            this.fetchData();

            /*
            * Initialize modal materializecss
            */
            $('.modal-trigger').leanModal({
                complete: function() {
                },
            });
        },
    },
    ready() {

        /*
        * Call {init} method
        */ 
        this.$nextTick(function  () {
            this.init()
        
        })

    },
}

</script>