<template>
    <div class="row">
        <div class="col s12 m8 offset-m2 l4 offset-l4">
            <div class="card card_content_sign">                
                <nav class="top-nav">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a class="page-title">Lupa Kata Sandi</a>
                        </div>
                    </div>
                </nav>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12" @submit.prevent="forgot">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate" v-model="user.email">
                                    <label for="email">E-Mail</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <a href="#" v-link="{path: '/'}" class="btn btn-small waves-effect waves-light right" > Beranda
                                    <i class="material-icons left">home</i>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <button class="btn btn-small waves-effect waves-light right" >Kirim link
                                    <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <a href="#" v-link="{path: '/login'}"  class="right">Mau masuk?</a> <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>	

<script>
	export default {
		data () {
			return {
				user: {
					email: null
				}
			}
		},
		methods: {
			forgot() {
                this.$root.loading = true;
                this.$http.post('forgot', this.user).then( (result) => {
                    this.$root.handleSuccess(result.data)
                }, (errors) => {    
                    this.$root.handleError(errors)
                })
			}
		},
        ready () {
            if (this.$root.authenticated) {
                this.$route.router.go('/')
            }
        }
	}
</script>