<template>
	<div class="row">
        <div class="col s12 m8 offset-m2 l4 offset-l4">
            <div class="card card_content_sign">
                <nav class="top-nav">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a class="page-title">Daftar</a>
                        </div>
                    </div>
                </nav>
                <div class="card-content">                  
                    <div class="row">
                        <form class="col s12" @submit.prevent="register">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <label>Nama</label>
                                    <input type="text" v-model="user.name" length="50" maxlength="50" class="validate" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <label>E-Mail</label>
                                    <input type="email" v-model="user.email" class="validate" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">lock_outline</i>
                                    <label for="pw">Kata Sandi</label>
                                    <input id="pw" type="password" v-model="user.password" class="validate" required>
                                </div>
                                <div class="input-field col s6">
                                    <label for="pw_c">Konfirmasi Kata Sandi</label>
                                    <input id="pw_c" type="password" v-model="user.password_confirmation" class="validate" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <a class="btn btn-small waves-effect waves-light right" href="#" v-link="{path: '/'}"> Beranda
                                    <i class="material-icons left">home</i>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <button class="btn btn-small waves-effect waves-light right"> Daftar
                                    <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            <a href="#" v-link="{path: 'login'}" class="right">Sudah punya akun?</a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
    	data () {
            return {
                user: {                        
                    name: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                }
            }
    	},
    	methods: {
    		register() {
                let me = this;
                this.$root.loading = true;
                this.$http.post('register', this.user).then( (result) => {
                    this.$root.setLogin(result.data);
                }, (errors) => {  
                    this.$root.handleError(errors)
                })
    		}
    	}

    }
</script>