<template>
	<div class="row">
        <div class="col s12 m8 offset-m2 l4 offset-l4">
            <div class="card card_content_sign">                
                <nav class="top-nav">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a class="page-title">Perbarui Kata Sandi</a>
                        </div>
                    </div>
                </nav>
                <div class="card-content">                  
                    <div class="row">
                        <form class="col s12" @submit.prevent="reset">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <label class="active">E-Mail</label>
                                    <input type="email" v-model="user.email" class="validate valid" required readonly>
                                </div>
	                            <div class="input-field col s12">
	                                <i class="material-icons prefix">lock_outline</i>
	                                <label for="pw">Kata Sandi</label>
	                                <input id="pw" type="password" v-model="user.password" class="validate" required>
	                            </div>
	                            <div class="input-field col s12">
	                                <i class="material-icons prefix">lock_outline</i>
	                                <label for="pw_c">Konfirmasi Kata Sandi</label>
	                                <input id="pw_c" type="password" v-model="user.password_confirmation" class="validate" required>
	                            </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <a class="btn btn-small waves-effect waves-light right" href="#" v-link="{path: '/'}"> Beranda
                                    <i class="material-icons left">home</i>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <button class="btn btn-small waves-effect waves-light right"> Perbarui
                                    <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                            <a href="#" v-link="{path: 'login'}" class="right">Sudah punya akun?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    	data () {
            return {
                user: {                 
                    email: this.$route.query.email,
                    token: this.$route.params.token,
                    password: null,
                    password_confirmation: null
                }
            }
    	},
    	methods: {
    		reset() {
                let me = this;
                this.$root.loading = true;
                this.$http.post('reset', this.user).then( (result) => {
                    this.$root.handleSuccess(result.data)
                }, (errors) => {  
                    this.$root.handleError(errors)
                })
    		}
    	}

    }
</script>